pip-tools

tox
cookiecutter
watchdog
alabaster

# Tests
pytest
pytest-cookies
pytest-cases
sh  # Needed for test for passing linters checks only
PyHamcrest


# Linters
pre-commit
yamllint
restructuredtext-lint
pygments  # Required for restructuredtext-lint
mypy

wemake-python-styleguide
yesqa


# Additional dependencies from internal project template - may be needed for some tests
bumpversion
click
environs
pytest-cov
wheel
Sphinx
twine
