tox==2.9.1
cookiecutter>=1.4.0
watchdog==0.8.3
alabaster==0.7.10

# Tests
pytest
pytest-cookies
pytest-cases
sh  # Needed for test for passing linters checks only

# Linters
pre-commit
yamllint
restructuredtext-lint
pygments  # Required for restructuredtext-lint
